---

---

<header class="p-24">
    <h1 class="text-9xl absolute left-80 top-40">MMI Montbéliard</h1>
    <p class="mb-6 text-gray-400">Vous vous trouvez actuellement sur le site de MMI</p>
    <ul>
        <li class="mb-6 text-gray-400">IUT</li>
        <li class="mb-6 text-gray-400">DEV</li>
        <li class="mb-6 text-black font-bold">CREA</li>
        <li class="mb-6 text-black font-bold">COM</li>
        <li class="mb-6 text-black font-bold">PROF</li>
        <li class="mb-6 text-gray-400">UNIVERSITE</li>
    </ul>
</header>