---
import Logo from "../assets/img/MMI_logo_quadri_V 1.svg";
import Image1 from "../assets/img/image-1.svg";
import Image2 from "../assets/img/image-2.svg";
import Image3 from "../assets/img/image-3.svg";
import Image4 from "../assets/img/image-4.svg";
import Image5 from "../assets/img/image.svg";
import Image6 from "../assets/img/image-5.svg";
---

<div class="bg-yellow-500">
<table class="border mx-20 mt-40">
    <tbody>
        <tr class="border">
            <td class="border"><Logo /></td>
            <td class="border"><h1 class="text-8xl">MMI</h1></td>
        </tr>
        <tr class="border">
            <td class="border">
                <ul>
                    <li class="underline">Xavier Senente</li>
                    <li class="underline">Pascal Chatonnay</li>
                    <li class="underline">David Malsot</li>
                    <li class="underline">Lydia Dubois</li>
                    <li class="underline">Sébastien Augier</li>
                    <li class="underline">Alain lamboux-Durand</li>
                    <li class="underline">Autres Profs</li>
                </ul>
            </td>
            <td class="border flex">
                <div>
                    <h2 class="text-8xl">Nos Profs</h2>
                <p>
                    Xavier Senente <br />
                    Pascal Chatonnay <br />
                    David Malsot <br />
                    Lydia Dubois <br />
                    Sébastien Augier <br />
                    Alain Lamboux-Durand <br />
                </p>
                </div>
                <div class="flex flex-wrap gap-x-40">
                    <Image5 />
                    <Image1 />
                    <Image2 />
                    <Image3 />
                    <Image4 />
                </div>
            </td>
        </tr>
        <tr class="border">
            <td class="border">
                <ul>
                    <li class="underline">IUT</li>
                    <li class="underline">CREA</li>
                    <li class="underline">DEV</li>
                    <li class="underline">COM</li>
                    <li class="underline">OFF</li>
                    <li class="underline">CANADA</li>
                </ul>
            </td>
            <td class="border">
                <Image6 />
                <h2 class="text-8xl">IUT</h2>
            </td>
        </tr>
    </tbody>
</table>
</div>