---
import { Image } from "astro:assets";
import Header from "../components/Header.astro";
import Tableau from "../components/Tableau.astro";
import Text from "../components/Text.astro";
import Image from "../components/Image.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSP</title>
</head>
<body>
    <Header />
    <Tableau />
    <Text />
    <Image />
</body>
</html>